# Copiá este archivo a .env.local (no se sube a git) y completá con tus datos de EmailJS
# 1. Creá una cuenta gratis en https://www.emailjs.com/
# 2. Conectá el Gmail Maria.m.stadning@gmail.com como "Email Service" -> copiá el Service ID
# 3. Creá un "Email Template" con variables: {{customer_name}} {{customer_phone}} {{customer_email}}
#    {{service}} {{area_m2}} {{postcode}} {{message}} {{estimated_hours}} {{estimated_price}}
#    {{estimated_price_after_rut}} {{to_email}} -> copiá el Template ID
# 4. En "Account" -> "General" copiá la Public Key
VITE_EMAILJS_SERVICE_ID=
VITE_EMAILJS_TEMPLATE_ID=
VITE_EMAILJS_PUBLIC_KEY=
